@model VVV.UI.ViewModels.Verlofaanvraag.DetailsModel
@using VVV.UI.Helpers;
@{
    ViewBag.Title = "VerlofVerzoek beoordelen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SecurityHelper.CurrentIdentity.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 row">

        <div class="col-md-12">

            <div class="col-md-12" style="background-color:white; border: 1px solid #e6e6e6; padding: 1% 5% 1% 5%; margin-bottom: 20px;">
                <div class="col-md-12">
                    <h3><strong>Beoordelen voorgestelde VerlofVerzoek</strong></h3>
                    <hr />
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="rounded alert alert-danger">
                <i class="fa fa-danger" >
                    U heeft de volgende melding/ meldingen: <br />
                    @if ((Model.DaysCurrent <= 0 && Model.HoursCurrent <= 0 && Model.MinutesCurrent <= 0) || Model.IsCommunicated == false || Model.HasDeadlines == true)
                    {
                        @*
                        if (Model.DaysCurrent <= 0 && Model.HoursCurrent <= 0 && Model.MinutesCurrent <= 0)
                        {
                            <span> - U heeft geen verlofdagen meer over.<br /></span>
                        }
                        *@

                        if (Model.IsCommunicated == false)
                        {
                            <span> - Dit verlofverzoek is niet gecommuniceerd met het team.</span>
                        }
                        if (Model.HasDeadlines == true)
                        {
                            <span> - In de periode van dit verlofverzoek heeft de medewerker deadlines.<br/></span>
                        }
                    }
                </i>
            </div>
        </div>        

        <div class="col-md-12">
            <div class="col-md-12 headerkembit">
                <div class="col-md-6" style="margin-top:10px; margin-bottom:10px;">
                    <a class="btn btn-success col-md-12" style="width:100%;" href="@Url.Action("AcceptProposition", "Verlofaanvraag", new { id = Model.vacreqID })"><i class="fa fa-angle-double-left"></i>Accepteer</a>
                </div>
                <div class="col-md-6" style="margin-top:10px; margin-bottom:10px;">
                    <a class="btn btn-danger col-md-12" style="width:100%;" href="@Url.Action("RejectProposition", "Verlofaanvraag", new { id = Model.vacreqID })"><i class="fa fa-angle-double-left"></i>Afwijzen</a>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-12 headerkembit">
                @if (Model.TotalDays == false)
                {
                    <div class="col-md-6 marginkembit">
                        <h4><strong>Nieuwe begindatum van het verlof</strong></h4>
                        <h5>@Model.BeginDate, @Model.BeginTimeHour:@Model.BeginTimeMinute</h5>
                    </div>
                    <div class="col-md-6 marginkembit">
                        <h4><strong>Nieuwe einddatum van het verlof</strong></h4>
                        <h5>@Model.EndDate, @Model.EndTimeHour:@Model.EndTimeMinute</h5>
                    </div>
                }
                else
                {
                    <div class="col-md-4 marginkembit">
                        <h4><strong>Nieuwe begindatum van het verlof</strong></h4>
                        <h5>@Model.BeginDate</h5>
                    </div>
                    <div class="col-md-4 marginkembit">
                        <h4><strong>Nieuwe einddatum van het verlof</strong></h4>
                        <h5>@Model.EndDate</h5>
                    </div>
                    <div class="col-md-4 marginkembit">
                        <h4><strong>Hele dagen</strong></h4>
                        <h5>Ja</h5>
                    </div>
                }

                <div class="col-md-12">
                    <hr style="margin: 0px;" />
                </div>

                @if (Model.OldTotalDays == false)
                {
                    <div class="col-md-6 marginkembit">
                        <h4><strong>Oud begin van het verlof</strong></h4>
                        <h5>@Model.OldBeginDate, @Model.OldBeginTimeHour:@Model.OldBeginTimeMinute</h5>
                    </div>
                    <div class="col-md-6 marginkembit">
                        <h4><strong>Oude einddatum van het verlof</strong></h4>
                        <h5>@Model.OldEndDate, @Model.OldEndTimeHour:@Model.OldEndTimeMinute</h5>
                    </div>
                }
                else
                {
                    <div class="col-md-4 marginkembit">
                        <h4><strong>Oude begindatum van het verlof</strong></h4>
                        <h5>@Model.OldBeginDate</h5>
                    </div>
                    <div class="col-md-4 marginkembit">
                        <h4><strong>Oude einddatum van het verlof</strong></h4>
                        <h5>@Model.OldEndDate</h5>
                    </div>
                    <div class="col-md-4 marginkembit">
                        <h4><strong>Hele dagen</strong></h4>
                        <h5>Ja</h5>
                    </div>
                }

                <div class="col-md-12">
                    <hr style="margin: 0px;" />
                </div>

                <div class="col-md-6 marginkembit">
                    <h4><strong>Duur van het verlof</strong></h4>
                    <h5>@Model.TimeRequest</h5>
                </div>

                <div class="col-md-6 marginkembit">
                    <h4><strong>Manager</strong></h4>
                    <h5>@Model.ManagerName</h5>
                </div>

                <div class="col-md-12">
                    <hr style="margin: 0px;" />
                </div>

                <div class="col-md-6 marginkembit">
                    <h4><strong>Reden van afwijzing</strong></h4>
                    <h5>@Model.ReasonRejection</h5>
                </div>
                <div class="col-md-6 marginkembit">
                    <h4><strong>Reden van het verlofverzoek</strong></h4>
                    <h5>@Model.Reason</h5>
                </div>

                @*
                <div class="col-md-12">
                    <hr style="margin: 0px;" />
                </div>

                <div class="col-md-6 marginkembit">
                    <h4><strong>Huidige verlofdagen</strong></h4>
                    <h5>@Model.TimeCurrent</h5>
                </div>
                <div class="col-md-6 marginkembit">
                    <h4><strong>Duur van het verlof</strong></h4>
                    <h5>@Model.TimeRequest</h5>
                </div>
                *@

            </div>
        </div>
        @*
        <div class="col-md-12">
            <div class="col-md-12" style="background-color:white; border: 1px solid #e6e6e6; padding:1% 5% 1% 5%; margin-bottom:20px;">
                <div class="col-md-4" style="margin-bottom:20px;">
                    <div class="col-md-12">
                        <h4><strong>Algemene informatie</strong></h4>
                        <hr />
                        <div class="col-md-12">
                            <h4>Reden van het verlofverzoek</h4>
                            @Html.Raw(Model.Reason)
                        </div>
                        <div class="col-md-12">
                            <hr />
                            <h4>Reden van afwijzing</h4>
                            <p>@Model.ReasonRejection</p>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <h4><strong>Aanvrager</strong></h4>
                        <hr />
                        <div class="col-md-12">
                            <h4>Naam</h4>
                            <p>@Model.FirstName @Model.LastName</p>
                        </div>
                        
                        <div class="col-md-12">
                            <hr />
                            <h4>E-mailadres</h4>
                            <p>@Model.Email</p>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <h4><strong>Verlofdagen</strong></h4>
                        <hr />
                        <div class="col-md-12">
                            <h4>Huidige Verlofdagen</h4>
                            <p>@Model.DaysCurrent dagen, @Model.HoursCurrent uur &amp; @Model.MinutesCurrent minuten</p>
                        </div>
                        <div class="col-md-12">
                            <hr />
                            <h4>Duur van het verlofverzoek</h4>
                            <p>@Model.DaysRequest dagen, @Model.HoursRequest uur &amp; @Model.MinutesRequest minutes</p>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>

        </div>
        

        

        <div class="col-md-12">
            
            <div class="col-md-12 headerkembit" style="margin-bottom:0px;">
                <div>
                    <h4><strong>Nieuwe periode van het verlofverzoek</strong></h4>
                    <hr />
                    @if (Model.TotalDays == false)
                    {
                        <div class="col-md-3" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Begindatum</h4>
                                <p>@Model.BeginDate</p>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Begintijd</h4>
                                <p>@Model.BeginTimeHour:@Model.BeginTimeMinute uur</p>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Einddatum</h4>
                                <p>@Model.EndDate</p>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Eindtijd</h4>
                                <p>@Model.EndTimeHour:@Model.EndTimeMinute</p>
                            </div>
                        </div>


                    }
                    @if (Model.TotalDays == true)
                    {
                        <div class="col-md-4" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Begindatum</h4>
                                <p>@Model.BeginDate</p>

                            </div>
                        </div>
                        <div class="col-md-4" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Einddatum</h4>
                                <p>@Model.EndDate</p>

                            </div>
                        </div>
                        <div class="col-md-4" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Tijden</h4>
                                <p>Gebruiker heeft hele dagen vrij.</p>

                            </div>
                        </div>
                    }

                </div>
            </div>
            

            <div class="col-md-12 headerkembit" style="margin-bottom:0px;">
                <div>
                    <h4><strong>Oude periode van het verlofverzoek</strong></h4>
                    <hr />
                    @if (Model.OldTotalDays == false)
                    {
                        <div class="col-md-3" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Begindatum</h4>

                                <p>@Model.OldBeginDate</p>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Begintijd</h4>
                                <p>@Model.OldBeginTimeHour:@Model.OldBeginTimeMinute uur</p>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Einddatum</h4>
                                <p>@Model.OldEndDate</p>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Eindtijd</h4>
                                <p>@Model.OldEndTimeHour:@Model.OldEndTimeMinute</p>
                            </div>
                        </div>
                    }
                    @if (Model.OldTotalDays == true)
                    {
                        <div class="col-md-4" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Begindatum</h4>
                                <p>@Model.OldBeginDate</p>

                            </div>
                        </div>
                        <div class="col-md-4" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Einddatum</h4>
                                <p>@Model.OldEndDate</p>

                            </div>
                        </div>
                        <div class="col-md-4" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <h4>Tijden</h4>
                                <p>Gebruiker heeft hele dagen vrij.</p>

                            </div>
                        </div>
                    }
                </div>

            </div>
            *@
       

    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                $("#TableUsersVacation").slideToggle("slow");
            });
        });
    </script>}