@using StackExchange.Profiling;
@using VVV.UI.Helpers;
@using System.Web.Optimization;



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VerlofVerzoekVerwerker</title>
    
    @Styles.Render("~/Content/fullcalendarcss")
    
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/animate.css" rel="stylesheet" />
    <link type="text/css" href="~/scripts/lib/cupertino/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" />
    

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    
    
    
    
    
</head>
<body>    
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @if (SecurityHelper.CurrentIdentity.IsAuthenticated && SecurityHelper.UserHasRole(VVV.Business.Identity.UserRoles.Medewerker))
                {
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" style="width:100px;">
                        <span class="button-label">Menu</span>
                        <div class="button-bars">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                        
                    </button>
                }
                
                @if (SecurityHelper.CurrentIdentity.IsAuthenticated && SecurityHelper.UserHasRole(VVV.Business.Identity.UserRoles.Medewerker))
                {
                    @Html.ActionLink("VerlofVerzoekVerwerker", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                }
                
            </div>
            <div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        @if (SecurityHelper.CurrentIdentity.IsAuthenticated && SecurityHelper.UserHasRole(VVV.Business.Identity.UserRoles.Medewerker))
                        {
                            <li class="nav-link">@Html.ActionLink("Dashboard", "Login", "Account")</li>
                            <li class="nav-link">@Html.ActionLink("Agenda", "MainCalendar", "Calendar")</li>
                            <li class="nav-link">@Html.ActionLink("Verlofverzoeken", "Index", "Verlofaanvraag")</li>

                            if (SecurityHelper.UserHasRole(VVV.Business.Identity.UserRoles.Manager))
                            {
                                <li class="nav-link">@Html.ActionLink("Verlofverzoeken medewerkers", "IndexManager", "Verlofaanvraag")</li>
                            }                               

                            if (SecurityHelper.UserHasRole(VVV.Business.Identity.UserRoles.HRManager) || SecurityHelper.UserHasRole(VVV.Business.Identity.UserRoles.Manager))
                            {
                                <li class="nav-link">@Html.ActionLink("Mijn KEMBIT'ers", "IndexHR", "User")</li>
                            }

                            <li role="presentation" class="hidden-sm hidden-md hidden-lg nav-link"><a href="@Url.Action("Inbox","Mail")"><i class="fa fa-unlock-alt"></i>Berichtencentrum</a></li>

                        }
                    </ul>
                </div>
            </div>
                
                
         </div>
    </div>
    <div class="header clearfix">
        <ul class="nav nav-pills pull-right">
            @if (SecurityHelper.CurrentIdentity.IsAuthenticated && SecurityHelper.UserHasRole(VVV.Business.Identity.UserRoles.Medewerker))
            {
                <li role="presentation"><a href="@Url.Action("CheckCurrentUser", "User")"><i class="fa fa-unlock-alt"></i> Ingelogd als: @SecurityHelper.GetName()</a></li>
                <li role="presentation" class="hidden-xs"><a href="@Url.Action("Inbox", "Mail")"><i class="fa fa-unlock-alt"></i>Berichtencentrum @SecurityHelper.GetUnreadMessages() </a></li>
                <li role="presentation"><a href="@Url.Action("SignOut","Account")"><i class="fa fa-unlock-alt"></i><span class="glyphicon glyphicon-off" style="margin-right:5px;"></span>Uitloggen</a></li>
            }
        </ul>
    </div>
    <div class="container body-content">
        <div style="margin-top:10px;"></div>
        @RenderBody()
        <div class="col-md-12 row" style="margin-top:20%;"></div>
        
        <footer class="modal-footer navbar-fixed-bottom" style="background-color:white;">
            <div class="col-md-4" style="text-align:center;">
                <p>&copy; @DateTime.Now.Year - KEMBIT</p>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs" style="text-align:center;">
                <a href="https://intranet.kembit.nl"><img src="~/content/img/KEMBIT_logo_RGB.png" title="VerlofVerzoekVerwerker" class="text-center" alt="VVV" width="15%" /></a>
            </div>
            
        </footer>
    </div>

    <script src="~/scripts/jquery-3.1.1.min.js"></script>    
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/moment.min.js"></script>
    <script src="~/scripts/fullcalendar.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/scripts/locales/bootstrap-datepicker.nl.min.js"></script>
    
    
    
    


    @RenderSection("scripts", required: false)

   <script type="text/javascript">
       //$(document).ready(function () {
       //    $('.navbar-toggle').click(function () {
       //        $(".navbar-collapse").slideToggle("medium");
       //    });
       //});



       $(document).ready(function () {
           $(".dropdown-toggle").dropdown();
       });    

    </script>



    
</body>
</html>