<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEMBIT ExpenseClaim - @ViewBag.Title</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/content/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/content/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/content/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/content/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/content/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/content/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/content/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/content/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/content/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/content/img/icons/favicon-16x16.png">
    <link rel="manifest" href="~/content/img/icons/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/content/img/icons/ms-icon-144x144.png">
    <link rel="shortcut icon" type="image/ico" href="~/content/img/images/favicon.ico" />

    <link href="~/content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/plugins/animate.css" rel="stylesheet" />
    <link href="~/content/css/main.css" rel="stylesheet" />
    <link href="~/content/css/custom.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
</head>
<body>

    @Html.Partial("_Header")

    <div class="container" role="main">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    <script type="text/javascript" src="~/Content/plugins/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
